<div class="flex">
	<div class="contact">
		<h2>Donde estamos:</h2>
		<div id="map2"></div>
	</div>
	<div class="contact">
		<h2>Contacto:</h2>
		<form id="form">
			<label class="name">
				<input type="text" placeholder="Name:" id="name"/>
			</label>
			<label class="email">
				<input type="text" placeholder="Email:" id="email"/>
			</label>
			<label class="message">
				<textarea placeholder="Message:" id="message"></textarea>						
			</label>
			<input class="btn" name="send" id="send" value="SEND"/>
		</form>
	</div><!--div formulario -->
</div><!--flex -->