<!-- Footer -->
      <footer>

      </footer>
    </body>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="/songnow_framework/view/assets/js/jquery.dropotron.min.js"></script>
  <script src="/songnow_framework/view/assets/js/browser.min.js"></script>
  <script src="/songnow_framework/view/assets/js/breakpoints.min.js"></script>
  <script src="/songnow_framework/view/assets/js/util.js"></script>
  <script src="/songnow_framework/view/assets/js/main.js"></script>

</html>