<div class="container">
    <div class="row gtr-200">
        <div class="col-4 col-12-medium">
            <div id="sidebar">

                <!-- Sidebar -->
                <section>
                    <form name="f1" class="ff" id="filters">
                    </form>
                </section>

            </div>
        </div>
        <div class="col-8 col-12-medium imp-medium">
            <div id="content">
                <!-- Content -->
                <article>
                    <div class="container">
                        <h1 id="title_categ" data-tr="Songs"></h1>
                        <div class="songs_page" id="songs"></div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div id="pagination"></div>
    </div>
    <div id="map"></div>
</div>
