<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-7 col-12-medium">
                <h2 id="bannertitle" data-tr="Hi. This is Songnow."></h2>
                <p data-tr="Listen your music whenever and wherever you want"></p>
            </div>
            <div class="col-5 col-12-medium">
                <ul>
                    <li><a id="login_button" class="button large icon solid fa-arrow-circle-right account" data-tr="Login"></a></li>
                    <li><a id="register_button" class="button alt large icon solid fa-arrow-circle-right account" data-tr="Register"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="top-content">
    <div class="container-fluid">
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
        </div>
    </div>
</div>



<div id="features-wrapper">
    <div class="container">
        <h1 id="title_categ" data-tr="CATEGORIES"></h1>
        <div class="row" id="categories">
        </div>
    </div>
</div>