<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Songnow</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="/songnow_framework/view/assets/css/main.css" />
        <link rel="stylesheet" href="/songnow_framework/view/assets/css/toastr.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="/songnow_framework/view/assets/js/jquery-3.5.0.min.js"></script>
        <script src="/songnow_framework/view/assets/js/jquery.min.js"></script>
        <script src="/songnow_framework/modules/shop/view/js/shop.js"></script>
        <script src="/songnow_framework/utils/common.inc.js"></script>
        <script src="/songnow_framework/view/assets/js/main.js"></script>
        <script src="/songnow_framework/view/assets/js/menu.js"></script> 
        <script src="/songnow_framework/utils/apis/apis.js"></script>       
        <script src="/songnow_framework/view/assets/js/toastr.min.js"></script>


    </head>
    <body class="is-preload homepage">